@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
}
body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden !important;
}

/* --------------header------------ */
.header-main {
  /* border-bottom: 1px solid #000; */
  background: #25215e;
}

#navmenu .nav-item .nav-link {
  font-weight: 500 !important;
  color: #ffffff !important;
  margin-right: 20px;
}
.nav-link:hover {
  color: #c9c9c9 !important;
}
/* -----------------Header close------------- */

/* ---------global------------- */
p {
  margin-bottom: 0 !important;
}
button {
  border-radius: 0 !important;
}
img {
  border-radius: 10px;
}

h2 {
  font-size: 40px !important;
}

.card-body {
  text-align: center;
}
.card-img,
.card-img-top {
  border-radius: 0 !important;
}
.btn-primary {
  background: #25215e !important;
  color: #fff;
  border: 0 !important;
  padding: 10px 20px !important;
}
.btn-primary:hover {
  background: #000 !important;
  color: #fff !important;
  border: 0 !important;
  padding: 10px 20px !important;
  box-shadow: 0px 10px 30px -5px #515151;
}
.btn-secondary:hover {
  box-shadow: 0px 10px 30px -5px #515151;
}
.btn-secondary {
  padding: 10px 20px !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
a:hover {
  text-decoration: underline !important;
  color: #000 !important;
}

.home.first-sec .card:hover {
  box-shadow: 0px 20px 36px -6px #00000075;
}
.home.first-sec .card:hover img {
  filter: grayscale(1);
}
.carousel-caption {
  background: #25215e78 !important;
  border-radius: 10px !important;
  padding: 40px !important;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  background: #25215e;
  border-radius: 100px;
}
/* -----------global close-------------- */

/* -------------------Hero--------------- */

h1 {
  font-size: 55px !important;
}

/* ----------------------Hero close----------------- */

/* ------------------footer------------- */
.box {
  border: 1px solid #000;
  padding: 30px;
  background: #6c757d;
  margin-top: -72px !important;
  margin-bottom: 30px;
}

.footer {
  margin-top: 150px;
}

.footer ul li {
  list-style: none;
  line-height: 35px;
}
.footer ul {
  padding-left: 0 !important;
}

.footer-list {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
#footer-a a {
  font-size: 14px;
}

/* ------------------footer close------------- */

/* -----------Homepage------------- */
.first-sec {
  /* background-image: linear-gradient(358deg, #dde8ff, #ffffff); */
  padding-bottom: 10px;
}

.main-hero-left {
  padding-left: 120px !important;
}
/* -----------Homepage close------------- */

/* -----------------faq page----------------- */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #cfe2ff !important;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #000 !important;
}
.accordion-item {
  color: var(--bs-accordion-color) !important;
  background-color: var(--bs-accordion-bg) !important;
  border: 1px solid #000 !important;
  margin-bottom: 20px !important;
  border-radius: 0 !important;
  padding: 5px !important;
}
/* -----------------faq page close----------------- */

/* -----------know more page-------------- */

.knowmore .card-body {
  text-align: left !important;
  padding: 20px 0;
}
.knowmore .card {
  border: none;
}
.knowmore .card p {
  margin-bottom: 10px !important;
}
.slides h2 {
  font-size: 55px !important;
}
.know-more-hero {
  background: url(/images/know-more.jpg);
  background-position: center;
  background-size: cover;
  height: 550px;
}
/* -----------know more page close-------------- */

/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  padding: 10px 10px 9px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 160px;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 8px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.badge-secondary {
  --bs-bg-opacity: 1;
  background-color: rgb(204 231 255) !important;
  color: #25215e !important;
  padding: 8px 15px !important;
  font-weight: 500 !important;
}

/* ---------------fem issue page=----------------- */

.cat-card {
  border-radius: 10px;

  padding: 20px;
  box-shadow: 0px 6px 19px 7px #c7c7c733;
}
.cat-card:hover {
  box-shadow: 0px 5px 125px 0px #7077fe33;
}

.cat-card img {
  border: 8px solid #fff;
  box-shadow: 0px 6px 19px 7px #dcdcdca6;
  margin-right: 20px;
}

/* Media query for mobile devices (screens less than or equal to 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 35px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  .main-hero-left {
    padding: 50px !important;
  }
  body{
    overflow-x: hidden !important;
  }
}

.blog-meta b{
font-size: 13px;
color: gray;
}
.blog-meta p{
font-size: 13px;
}